.logueador{
  width:100vw;
  height:95vh;
  background: #0b1721;
  align-items: center;
  justify-content: center;
  position:relative;
}
.contenedor1{
  width: 55%;
  min-width: 700px;
}
.cuadro1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position:relative;
  background:transparent;
}
.cerrado{
  left: 100px;
  width: 400px;
  background: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form1 h1{
  font-size: 32px;
  color: #008dff;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top:-100px;
}
.formu input{
  width:220px;
  border:2px solid #008dff;
  border-radius: 5px;
  outline:none
}

.btn1 a{
  text-align: center;
  height: 40px;
  background: #008dff;
  color:white;
  width: 60%;
  margin-top: 20px;
  margin-left: 20%;

}
.btn1 button{
  width: 60%;
  height: 40px;
  background-color: #008dff;
  color:white;
  margin-top: 10px;
}
.sing{
  display:inline;
}
.sing button{
  width: auto ;
  height: auto;
  background-color:transparent;
  color: #0767e1;
}
.sing button:hover{
  color: #033f86;
  text-decoration: underline 2px #013e79;
}
.sing button:active{
  color: #033f86;
  text-decoration: underline 2px #013e79;
}
.formu label{
  left: 0;
}
.forgot a {
  color: #008dff;
  cursor:pointer;
}

.controls{
  padding: 5px 10px;
  margin: 5px 3px;
}
input:focus{
  border-color: rgb(7, 103, 225);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgb(7, 103, 225);
  outline: 0 none;
}
@media only screen and (max-width: 780px) {
  .imagen img{
    display:none;
  }
  .contenedor1{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 400px ;
  }
  .cuadro1{
    width: 100%;
  }
  .cerrado{
    min-height: 500px;
  }
}
